---
import Layout from "../layouts/Layout.astro";
---

<section class="pb-8">
    <a class="my-20" id="about-me"></a>
    <h1 class="font-bold text-center text-white text-5xl px-2">Sobre <span class="text-indigo-600">mi:</span></h1>
    <div class="div-about">
        <p class="text-justify mt-5 mb-8 text-xl px-2">Soy apasionado en lo que trabajo, con un firme compromiso hacia la excelencia en cada proyecto en el que me involucro. Desde una temprana edad, descubrí mi fascinación por la tecnología y cómo esta puede transformar el mundo que nos rodea.<br> Mi entusiasmo por el desarrollo web y la programación se ha mantenido constante a lo largo de los años, impulsándome a buscar constantemente nuevas formas de mejorar mis habilidades y mantenerme al tanto de las últimas tendencias del sector.<br>Mi enfoque meticuloso y mi dedicación incansable me han permitido <span>enfrentar desafíos complejos</span> con confianza y creatividad. Busco constantemente aprender y crecer, explorando nuevas tecnologías y metodologías para mejorar mi capacidad para crear soluciones innovadoras y eficientes. Estoy emocionado por la oportunidad de colaborar en proyectos desafiantes que me permitan seguir expandiendo mis habilidades y contribuyendo <span>al éxito de negocios tanto grandes como pequeños</span></p>
    </div>
</section>

<style>
    .div-about {
        width: 100%;
        max-width: 1300px;
        margin: auto;
    }

    span {
        color: rgb(79, 70, 229);
    }

</style>
