<section>
    <h1 class="max-w-[1300px] w-full m-auto my-10 text-center font-bold text-5xl">Faqs<span class="text-indigo-600">?</span></h1>
    <div class="max-w-[1300px] w-full m-auto my-[70px] p-10 rounded-2xl bg-[#202020] space-y-4">
        <details class="group [&_summary::-webkit-details-marker]:hidden" open>
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
          >
            <h2 class="font-bold">
              ¿Qué lenguajes de programación dominas?
            </h2>
      
            <svg
              class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>
      
          <p class="mt-4 px-4 leading-relaxed text-gray-400">
            Domino principalmente Python y JavaScript, con sus respectivos frameworks, tanto para backend como para frontend.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden" open>
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
          >
            <h2 class="font-bold">
                ¿Cuál es tu experiencia previa en proyectos de desarrollo de software?
            </h2>
      
            <svg
              class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>
      
          <p class="mt-4 px-4 leading-relaxed text-gray-400">
            He trabajado en varios proyectos, desde aplicaciones web hasta scripts de automatización.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden" open>
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
          >
            <h2 class="font-bold">
                ¿Cuál es tu enfoque al enfrentarte a un problema de programación?
            </h2>
      
            <svg
              class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>
      
          <p class="mt-4 px-4 leading-relaxed text-gray-400">
            Cuando me enfrento a un problema de programación, me gusta desglosarlo en pasos más pequeños y abordarlo uno a la vez.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden" open>
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
          >
            <h2 class="font-bold">
                ¿Cómo manejas los errores y los problemas de depuración en tu código?
            </h2>
      
            <svg
              class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>
      
          <p class="mt-4 px-4 leading-relaxed text-gray-400">
            Los errores son oportunidades de aprendizaje, así que los enfrento con calma y paciencia hasta encontrar una solución.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden" open>
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
          >
            <h2 class="font-bold">
                ¿Estás familiarizado con metodologías de desarrollo como Agile o Scrum?
            </h2>
      
            <svg
              class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>
      
          <p class="mt-4 px-4 leading-relaxed text-gray-400">
            Estoy bastante familiarizado con la metodología scrum, organizarme y trabajar por mi cuenta en beneficio al equipo y al proyecto a la par de llevar buenas practicas es algo con lo que me siento muy cómodo.
          </p>
        </details>
      </div>
      
</section>