---
import Layout from '../layouts/Layout.astro';
import QuickProjects from '../config/quickProjects.json'
---

<Layout pagTitle='Alvaro Avila dev' pagDescription='Home alvaro'>

	<div class="pb-10">
		<h1 class="font-bold text-center  text-white text-5xl">Alvaro Avila <span>Dev</span></h1>
		<p class="text-center mt-5 mb-8 text-xl"> Desarrollador full-stack comprometido en potenciar tus emprendimientos digitales y ofrecer una experiencia excepcional al cliente. </p>
	</div>

	<section>
		<div class="main-Div">
			{
				QuickProjects.map(projects => (
					<div class="item">
						<h1 class="text-center font-bold text-2xl mt-5 pb-2 text-indigo-600">{projects.title}</h1>
						<p class="text-center m-5 text-xl">{projects.description}</p>
						<div class="Div-images ">
							<img class="mt-5 mb-4 h-auto w-auto" src={projects.image} alt="">
						</div>
					</div>
				))
			}
		</div>
	</section>

</Layout>

<style>
	section {
		width: 100%;
	}

	.main-Div {
		background: #202020;
		border-radius: 20px;
		width: 100%;
		max-width: 1500px;
		height: 100%;
		display: grid;
		gap: 10px;
		padding: 15px;
		margin: auto;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		"hero hero hero hero aside2 aside2"
		"hero hero hero hero aside2 aside2"
		"hero hero hero hero aside2 aside2"
		"hero hero hero hero aside2 aside2"
		"aside3 aside3 aside4 aside4 aside5 aside5 ";
	}
	.item {
		border: 5px solid rgb(79, 70, 229);
		border-radius: 10px;
	}

	.main-Div .item:nth-child(1) {
		grid-area: hero;
	}
	.main-Div .item:nth-child(2) {
		grid-area: aside2;
	}

	.main-Div .item:nth-child(3) {
		grid-area: aside3;
	}
	.main-Div .item:nth-child(4) {
		grid-area: aside4;
	}

	.main-Div .item:nth-child(5) {
		grid-area: aside5;
	}

	.Div-images {
		display: grid;
		place-items: center;
	}

	span {
		color: rgb(79, 70, 229);
	}

	@media screen {max-width: 1000px;
		.main-Div {
    		grid-template-columns: repeat(4, 1fr);
    		grid-template-areas:
				"hero   hero   hero   hero"
				"hero   hero   hero   hero"
				"aside2 aside2 aside2 aside3"
				"aside4 aside4 aside5 aside5";
		}
	}

	@media screen {max-width: 650px;
		.main-Div {
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				"hero   hero   hero"
     			"hero   hero   hero"
      			"aside2 aside2 aside2"
      			"aside3 aside3 aside3"
      			"aside4 aside4 aside4"
      			"aside5 aside5 aside5";
		}
		.Div-images {
			display: flex;
			place-content: right;
		}
	}

</style>