---
interface Props {
    dedicatedPage: string
}
---

<div class=" flex justify-center items-center mt-10 mb-10 p-5 font-bold">
    <button>
        <slot>
    </button>
</div>

<style>

    button {
		background-color: rgb(79, 70, 229);
		color: white;
		padding: 10px;
		border-radius: 5px;
    }

</style>