<a class="font-bold" href="../assets/alvaro-avila-dev-cv.pdf" download="alvaro-avila-dev-cv.pdf"><slot></a>


<style>
a {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    backdrop-filter: blur(100px);
}

a:hover {
    transition-duration: 0.5s;
    background-color: #3cbc41;
    border: 1px solid #3cbc41;
    color: white;
}
</style>
