---
---
<header class="header-bar">
    <nav class="navbar-header ">
        <ul>
            <li><a href="#about-me">Sobre mi</a></li>
            <li><a href="#Experiencia&Projectos">Experiencia & Proyectos</a></li>
            <li><a href="#Servicios">Servicios</a></li>
            <li><a href="#Contactame">Contactarme</a></li>
        </ul>
    </nav>
</header>


<style is:global>
.header-bar {
    background-color: #202020;
    padding: 18px;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}

.navbar-header {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-header ul {
    display: inline-block;
}

.navbar-header li {
    display: inline;
}

.navbar-header a {
    color: #fcfcfc;
    margin: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar-header a:hover {
    background-color: rgb(79, 70, 229);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: 0.5s;
}

@media screen and (max-width: 1000px) {
    .header-bar {
        padding: 12px;
        position: fixed;
        z-index: 100;
        border: 1px solid white;
    }
    .navbar-header a {
        margin-top: 10px;
    }
    .navbar-header a:hover {
        margin-top: 10px;
    }
}

@media screen and { max-width: 750px;
    .header-bar {
        padding: 10px;
        position: fixed;
        z-index: 100;
        border: 1px solid white;

    }
    .navbar-header a {
        margin-top: 10px;
    }
    .navbar-header a:hover {
        margin-top: 10px;
    }
}

</style>